@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Quicksand:wght@300&family=Raleway:wght@500&display=swap&family=Roboto+Slab:wght@500&display=swap');

body{
    background-color: #591824;
    margin: 0;
}

.wrapper{
    width: 1400px;
    margin: auto;
    text-align:center;
    color: #F2C1AE;
    width:98%;
}
#heading{
    margin: 10px auto 40px;
    font-family: "Raleway", sans-serif;
    font-size: 7vh;
    font-weight:bold;
}
.navigation{
    margin-bottom: 20px;
}
.link{
    color:#D9961A;
    font-family: "Roboto Slab", serif;
    font-size: 1.3vw;
}
.navigation .link{
        margin: 80px;
}
.image{
    width: 100%;

}
.modernHeading{
    margin:-4px auto;
    font-family: "Quicksand", sans-serif;
    font-size: 3vh;
    padding: 15px 0 40px;
    background-color: #8C2B3D;
    border: 2px solid #F2C1AE;
}

.cater{
    padding: 30px 0 50px;
    margin: auto;

}
h2{
    margin: 5px auto;
}

h3{
    font-size: 4vh;
    font-family: "Raleway", sans-serif;
    color: #D9961A;
}
 p {
    font-size: 1.1vw;
    font-family: "Montserrat", sans-serif;

    color: #F2C1AE;

}

.section-wrapper{
     width:100%;
    display: flex;
    justify-content: center;
}

.chef, .local{
    width: 50%;
    font-family: "Montserrat", sans-serif;
    margin: 10px 0 5px;
    padding-bottom:40px;

}
.chef{
    float:left;
    margin-left:5px;
}
.local{
    margin-right: 5px;
}

footer{
    clear:both;
    background-color: #8C2B3D;
    height: 10vh;
    border: 2px solid #F2C1AE;
}
